{% extends "layout.html" %}

{% block titile %}
  Register
{% endblock %}

{%block main %}
    <form action="/register" method="POST">
      <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
      </div>
      <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="password" type="Password">
      </div>
      <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="check_password" placeholder="password (again)" type="Password">
      </div> 
      <button class="btn btn-primary" type="submit">Registreer</button>
    </form>
{% endblock %}
